:root {
  --lightergray: rgb(230, 230, 230);
  --togglepink: rgba(255, 0, 0, .1);
  --messageblue: #6392c2;
}

.flex {
  display: flex;
  gap: .25rem;
}
.flex.column {
  flex-direction: column;
}
.flex .grow {
  flex-grow: 1;
}

body {
  margin: auto;
  padding: .5rem;
  max-width: 50rem;
  min-width: 30rem;
  font-family: serif;
}

#timeline-info {
  font-family: monospace;
}

button {
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
  word-break: break-word;
  white-space: pre-wrap;

  border: 1px solid black;
  border-radius: 3px;
  background: white;

  margin-bottom: .25rem;
}
button:not(:disabled):active {
  background: var(--lightergray);
}
button[checked] {
  background: var(--togglepink);
}
button:disabled {
  border-color: var(--lightergray) !important;
  color: var(--lightergray) !important;
  cursor: auto;
}

button[name='tostart']::before {
  content: "<|"
}
button[name='toend']::before {
  content: "|>"
}

.noclick {
  pointer-events: none;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.output {
  font-family: monospace;
  white-space: pre-wrap;
  word-break: break-word;
  pointer-events: none;

  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
.output .caret {
  display: inline;
  min-width: 1ch;
  min-height: 1em;
  background: black;
  color: white;
}
.caret:empty::before {
  content: "_";
  color: black;
}

.conversation {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: .25rem;
  font-family: sans-serif;
  font-size: .9rem;

  border-bottom: 1px solid gray;
  /* border-radius: 5px; */
  padding-bottom: .5rem;
  margin-bottom: .5rem;
  max-height: 15rem;
  overflow-y: scroll;
}

.dialogue {
  max-width: 45%;
  width: fit-content;
  word-break: break-word;
  animation: slide-up 200ms;

  padding: .25rem;
  padding-left: .5rem;
  padding-right: .5rem;
  border-radius: .5rem;
  border-bottom-left-radius: 0;
  background: lightgray;
  box-sizing: border-box;
}
body.dragging .dialogue {
  animation: unset;
}

.typing {
  font-style: italic;
  color: gray;
}

@keyframes slide-up {
  0% {
    opacity: 0;
    translate: 0 50%;
  }
  100% {
    opacity: 1;
    translate: 0 0;
  }
}

.c0 {
  text-align: right;
  align-self: flex-end;
  right: 0;
  border-bottom-left-radius: .5rem;
  border-bottom-right-radius: 0;
}
.c0.dialogue {
  background: var(--messageblue);
  color: white;
}
